<!-- patient -->
<div class="container bg-form2">
    <div class=" header2 ">
    
    <h2 class="text-center ">  Patient </h2>
      
    </div>
    
    <div class="row">
    <div class="col-lg-5">
     

          <div class="container  bg-form">
    
        <form [formGroup]="patntForm">
      
            <div class="form-group text-center">
              <label for="email ">Patient name:</label>
              <input type="email" class="form-control input-f" placeholder="Enter Patient name"  formControlName="patntName"
              [ngClass]="{'is-invalid' : patnts && f['patntName'].errors }" >
              <div *ngIf="patnts && f['patntName'].errors" class="invalid-feedback">
            
                <div *ngIf="patnts && f['patntName'].errors['required']" >
                  Patient name is required
                </div>
      
                <div *ngIf="patnts && f['patntName'].errors['minlength']" >
                Enter Minimum length 8  
                </div>
                <div *ngIf="patnts && f['patntName'].errors['maxlength']" >
                  Enter Maximum length 15  
                  </div>
            </div>
            </div>
            <div class="form-group text-center">
              <label for="pwd">Disease:</label>
              <input type="text" class="form-control input-f"placeholder="Enter Disease" formControlName="disease" 
              [ngClass]="{'is-invalid' : patnts && f['disease'].errors }" >
              <div *ngIf="patnts && f['disease'].errors" class="invalid-feedback">
               
                <div *ngIf="patnts && f['disease'].errors['required']" >
                  disease  is required
                </div>
      
                <div *ngIf="patnts && f['disease'].errors['minlength']" >
                  Enter Minimum length 4  
                  </div>

                  <div *ngIf="patnts && f['disease'].errors['maxlength']" >
                    Enter Maximum length 12  
                    </div>
            </div>
            </div>
          
         
            <div class="row">
            <div class="col-lg-12 form-group">
              <button  *ngIf=" isupdateB==false " type="submit" class="btn btn-primary form-control"  (click)="patntSubmit()"> <i class="fa fa-sign-in"></i>
                Submit</button>
              </div>
              <div class="col-lg-12 form-group">
                <button  *ngIf="isupdateB == true" type="button" class="btn Edit form-control"    (click)="patntUpdate()"> <i class="fa fa-refresh"></i>
                 Update</button>
        
                </div>
              </div>
            </form>
            </div>
            
    </div>
    <div class="col-lg-7">
      <div class="  md-form active-pink active-pink-2 mb-3 mt-0">
        <i class="fa fa-search" style="width: 5%; color: rgb(19, 153, 113);margin-left: 20px;" ></i>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="width: 87%; display: inline-block;"  [(ngModel)]="searchkey">
      </div>
      <div class="col-lg-12 table-responsive" style="height: 250px;">
      <table class="table table-light" style="color: rgb(134, 9, 61); font-weight: 700; border:#000 solid 0.1px;">
        <thead>
          <tr class="header-th ">
            <th >Patient Name</th>
            <th >Disease</th>
            <th >Action</th>
          </tr>
        </thead>
        <tbody>
          <tr style=" border:#000 solid 0.1px;"  *ngFor="let patnt of patntList |filter: searchkey;let idx=index">
    
            <td>{{patnt.patntName}}</td>
            <td>{{patnt.disease}}</td>
            <td>
              <div class="row">
                <div class="col-lg-6"><button class="btn Edit form-control"  (click)="patntEdit(idx,patnt)"> <i class="fa fa-edit"></i> Edit</button></div>
                <div class="col-lg-6"><button class="btn delete form-control" (click)="patntDelete(idx)"> <i class="fa fa-trash-o"></i> Delete</button></div>
              </div>
            </td>
          </tr>
          
         
        </tbody>
      </table>
    </div>
    </div>
    
    </div>
    
    </div>
  
  <!-- patient -->